###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
/[Uu]serSettings/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.vs/ProjectJudeV2/FileContentIndex/5080110f-8f35-42fa-9b82-1588a4be48cf.vsidx
.vs/ProjectJudeV2/FileContentIndex/7b5a8cf5-4d0f-48c3-83da-b1a9915bd239.vsidx
.vs/ProjectJudeV2/FileContentIndex/ccdeff79-e26b-4be6-bb6a-26e39c7725d8.vsidx
.vs/ProjectJudeV2/FileContentIndex/0797714e-f5b8-4568-9df9-f2d20acf9bb4.vsidx
.vs/ProjectJudeV2/FileContentIndex/0896e0ba-7785-483f-bfb8-6678a296c57d.vsidx
.vs/ProjectJudeV2/FileContentIndex/a51863f8-86ed-4253-a54e-63e5539ec812.vsidx
*.vsidx
